rogeramez2024/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "rogeramez2024"
		},
		"Cargadata_capaplata_accessToken": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accessToken\"de \"Cargadata_capaplata\""
		},
		"conector_ADSL_Datafactory_accountKey": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accountKey\"de \"conector_ADSL_Datafactory\""
		},
		"Cargadebronce_aplata_accessToken": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accessToken\"de \"Cargadebronce_aplata\""
		},
		"cargadeplata_aoro_accessToken": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accessToken\"de \"cargadeplata_aoro\""
		},
		"Cargadata_capaplata_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "@linkedService().token_cargadebronce_plata"
		},
		"conector_ADSL_Datafactory_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://rogeramez.dfs.core.windows.net/"
		},
		"Cargadebronce_aplata_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0930-001410-b83yy0nn"
		},
		"cargadeplata_aoro_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0930-001410-b83yy0nn"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Cargadata_capaplata')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "se cargan los datos en fomato CSV a la capa plata desde la bronce",
				"parameters": {
					"token_cargadebronce_plata": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-951660256725792.12.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('Cargadata_capaplata_accessToken')]"
					},
					"existingClusterId": "[parameters('Cargadata_capaplata_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/conector_ADSL_Datafactory')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('conector_ADSL_Datafactory_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('conector_ADSL_Datafactory_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Cargadebronce_aplata')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-951660256725792.12.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('Cargadebronce_aplata_accessToken')]"
					},
					"existingClusterId": "[parameters('Cargadebronce_aplata_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/cargadeplata_aoro')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-951660256725792.12.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('cargadeplata_aoro_accessToken')]"
					},
					"existingClusterId": "[parameters('cargadeplata_aoro_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ingesta_capabronce_capaplata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "ingesta de la capa bronce a la plata",
				"activities": [
					{
						"name": "Ingestadebronce_aplata",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/roger_amez@hotmail.com/Ingesta_capabronceplata 2024-09-26 20:50:58"
						},
						"linkedServiceName": {
							"referenceName": "Cargadebronce_aplata",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Cargadebronce_aplata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/archivo_input_capabronce')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conector_ADSL_Datafactory",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Archivo_inputs": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().Archivo_inputs",
							"type": "Expression"
						},
						"folderPath": "input",
						"fileSystem": "contenedorproyectofinal"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Cod_Categoria",
						"type": "String"
					},
					{
						"name": "Nombre",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conector_ADSL_Datafactory')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/archivo_inputd')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conector_ADSL_Datafactory",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "input",
						"fileSystem": "contenedorproyectofinal"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Cod_Categoria",
						"type": "String"
					},
					{
						"name": "Nombre",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conector_ADSL_Datafactory')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/archivo_output_capabronce')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conector_ADSL_Datafactory",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"archivo_output": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().archivo_output",
							"type": "Expression"
						},
						"folderPath": "capa_bronce",
						"fileSystem": "contenedorproyectofinal"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conector_ADSL_Datafactory')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ingesta_capaplata_capaoro')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingestadeplata_aoro",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/roger_amez@hotmail.com/ingesta_capaplataoro"
						},
						"linkedServiceName": {
							"referenceName": "cargadeplata_aoro",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/cargadeplata_aoro')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ingesta_desdeinput_hastacapabronce')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "ingesta de archivos inputs hacia capa bronce",
				"activities": [
					{
						"name": "obtener_metadata_in",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "archivo_inputd",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "obtener_metadata_in",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('obtener_metadata_in').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "archivo_input_capabronce",
											"type": "DatasetReference",
											"parameters": {
												"Archivo_inputs": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "archivo_output_capabronce",
											"type": "DatasetReference",
											"parameters": {
												"archivo_output": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/archivo_inputd')]",
				"[concat(variables('factoryId'), '/datasets/archivo_input_capabronce')]",
				"[concat(variables('factoryId'), '/datasets/archivo_output_capabronce')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Automatizacion_capas')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingesta_capabronce_capaplata",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ingesta_desdeinput_hastacapabronce",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ingesta_capabronce_capaplata",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "ingesta_desdeinput_hastacapabronce",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ingesta_desdeinput_hastacapabronce",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "ingesta_capaplata_capaoro",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ingesta_capabronce_capaplata",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ingesta_capaplata_capaoro",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Automatizacion": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ingesta_capabronce_capaplata')]",
				"[concat(variables('factoryId'), '/pipelines/ingesta_desdeinput_hastacapabronce')]",
				"[concat(variables('factoryId'), '/pipelines/ingesta_capaplata_capaoro')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Automatizacioncapas')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Job que corre el codigo de las 3 capas y el input",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Automatizacion_capas",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 5,
						"startTime": "2024-09-30T03:15:00",
						"timeZone": "SA Pacific Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Automatizacion_capas')]"
			]
		}
	]
}